<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"

	android:versionCode="132"
	android:versionName="3.0.001a" package="com.chess" android:installLocation="auto">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

	<!--GCM Permissions-->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	<permission android:name="com.chess.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.chess.permission.C2D_MESSAGE" />
    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
	<supports-screens android:largeScreens="true" android:xlargeScreens="true" />

	<application android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:logo="@drawable/ic_action_menu"
		android:theme="@style/OrangeButtonTheme"
		>
		<activity android:name=".ui.activities.SplashActivity"
			android:label="@string/app_name"
			android:theme="@style/NoTitle"
			android:noHistory="true"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

        <activity android:name=".ui.activities.MainFragmentFaceActivity"
                  android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"
            /> <!--TODO restore-->

		<activity android:name=".ui.activities.old.HomeScreenActivity"
			android:logo="@drawable/ic_logo_bar"
			android:label=""
            android:launchMode="singleTop"
			/>

		<activity android:name="com.google.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"/>

<!--		<activity android:name="com.millennialmedia.android.MMAdViewOverlayActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|keyboard"/>
		<activity android:name="com.millennialmedia.android.VideoPlayer"
			android:configChanges="keyboardHidden|orientation|keyboard"/>-->

		<activity android:name=".ui.activities.old.VideoListActivity" android:label="@string/label_video"
			android:configChanges="keyboardHidden|keyboard|orientation"/>

		<activity android:name=".ui.activities.old.ChatOnlineActivity" android:label="@string/label_chat_online"
			android:configChanges="keyboardHidden|keyboard|orientation"/>

		<activity android:name=".ui.activities.old.ChatLiveActivity" android:label="@string/label_chat_live"
			android:configChanges="keyboardHidden|keyboard|orientation"/>

		<activity android:name=".ui.activities.old.LoginScreenActivity"
			android:theme="@style/OrangeButtonNotitle"
			/>

		<activity android:name=".ui.activities.old.LiveFriendChallengeActivity"
			android:configChanges="keyboardHidden|orientation|keyboard"
			android:label="@string/label_friend_challenge_live"/>

		<activity android:name=".ui.activities.old.LiveOpenChallengeActivity"
			android:configChanges="keyboardHidden|orientation|keyboard"
			android:label="@string/label_create_challenge_live"/>

		<activity android:name=".ui.activities.old.OnlineFriendChallengeActivity"
			android:label="@string/label_friend_challenge_online"/>

		<activity android:name=".ui.activities.old.OnlineOpenChallengeActivity"
			android:label="@string/label_create_challenge_online"/>

<!--		<activity android:name="com.mopub.mobileads.MoPubActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"/>
		<activity android:name="com.mopub.mobileads.MraidActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"/>
		<activity android:name="com.mopub.mobileads.MraidBrowser"
			android:configChanges="keyboardHidden|keyboard|orientation"/>-->

        <activity android:name="com.inneractive.api.ads.InneractiveFullScreenView" />

		<activity android:name=".ui.activities.old.OnlineScreenActivity" android:label="@string/label_play_online"
                  android:launchMode="singleTask"
			/>
		<!--android:configChanges="keyboardHidden|keyboard|orientation"-->
		<activity android:name=".ui.activities.old.OnlineNewGameActivity" android:label="@string/label_online_new_game"
			/>

		<activity android:name=".ui.activities.old.LiveScreenActivity" android:label="@string/label_play_live"

			/>   <!--android:configChanges="keyboardHidden|orientation|keyboard"-->
		<activity android:name=".ui.activities.old.LiveNewGameActivity" android:label="@string/label_live_new_game"
			android:configChanges="keyboardHidden|orientation|keyboard"
			/>

		<!--Game Board screens-->
<!--		<activity android:name=".ui.activities.GameTacticsScreenActivity" android:label="@string/label_tactics"
			    android:launchMode="singleTop"
                />
		<activity android:name=".ui.activities.GameCompScreenActivity" android:label="@string/label_game_comp"
			/>
		<activity android:name=".ui.activities.GameLiveScreenActivity" android:label="@string/label_game_live"
			/>
		&lt;!&ndash;android:configChanges="orientation"&ndash;&gt;
		<activity android:name=".ui.activities.GameOnlineScreenActivity" android:label="@string/label_game_online"
                  android:launchMode="singleTask"
            />

		<activity android:name=".ui.activities.GameFinishedScreenActivity" android:label="@string/label_game_finished"
			/>-->

		<activity android:name=".ui.activities.old.SettingsScreenActivity" android:label="@string/label_settings"
			android:configChanges="keyboardHidden|keyboard|orientation" android:theme="@style/GreyButtonTheme"/>

		<activity android:name=".ui.activities.old.VideoScreenActivity" android:label="@string/label_video"
			android:configChanges="keyboardHidden|keyboard|orientation"
			android:launchMode="singleTop">
			<!-- Receives the search request. -->
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
				<!-- No category needed, because the Intent will specify this class component-->
			</intent-filter>

			<!-- Points to searchable meta data. -->
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>
		<activity android:name=".ui.activities.old.ComputerScreenActivity" android:label="@string/label_play_comp"
			/>
		<activity android:name=".ui.activities.old.SignUpScreenActivity" android:label="@string/label_sign_up"
			android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ui.activities.old.WebViewActivity"/>



        <!--
                  BroadcastReceiver that will receive intents from GCM
                  services and handle them to the custom IntentService.

                  The com.google.android.c2dm.permission.SEND permission is necessary
                  so only GCM services can send data messages for the app.
        -->
		<receiver
			android:name="com.google.android.gcm.GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<!-- Receives the actual messages. -->
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<!-- Receives the registration id. -->
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.chess" />
			</intent-filter>
		</receiver>

		<!--
				  Application-specific subclass of GCMBaseIntentService that will
				  handle received messages.

				  By default, it must be named .GCMIntentService, unless the
				  application uses a custom BroadcastReceiver that redefines its name.
				-->
		<service android:name=".GCMIntentService" />
        <service android:name=".backend.LiveChessService" />
        <service android:name=".backend.GetAndSaveUserStats"/>

        <provider android:name=".db.DBDataProvider" android:authorities="com.chess.db_provider" android:exported="false"/>

		<meta-data android:name="ADMOB_PUBLISHER_ID" android:value="a14dd6bdf67a607"/>
        <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                   />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
	</application>

</manifest>
