<configuration>

	<property name="lcc.log.level.info" value="OFF" />
	<property name="lcc.log.level.debug" value="OFF" />
	<property name="lcc.log.level.warn" value="OFF" />

	<!-- Logging rules for LCC Debug mode (should be uncommented) -->
	<!--<property name="lcc.log.level.info" value="INFO" />
	<property name="lcc.log.level.debug" value="DEBUG" />
	<property name="lcc.log.level.warn" value="WARN" />-->

	<property name="LOG_DIR" value="/sdcard/Android/data/com.chess/cache/logs" />

	<contextName>com.chess</contextName>


	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- active log file -->
		<file>${LOG_DIR}/chess.log</file>
		<encoder>
			<pattern>%d %contextName %-4relative [%thread] %-5level - %msg%n</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover period -->
			<fileNamePattern>${LOG_DIR}/chess-%d.log</fileNamePattern>

			<!-- 2 days history -->
			<maxHistory>2</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
		<encoder>
			<pattern>%msg</pattern>
		</encoder>
	</appender>


	<logger name="com.chess.utilities.LogMe" level="DEBUG">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.chess.live.client" level="${lcc.log.level.info}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.chess.live.util.LogDebug" level="${lcc.log.level.debug}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.chess.live.util.LogInfo" level="${lcc.log.level.info}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.chess.live.util.config.Config" level="${lcc.log.level.warn}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.chess.live.util.Log4JJettyWrapper" level="${lcc.log.level.warn}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.chess.live.util.Log4JOutputStreamWrapper" level="${lcc.log.level.warn}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.eclipse.jetty" level="${lcc.log.level.debug}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<!-- Enable CometD logging -->
	<logger name="com.chess.live.client.impl.BayeuxClientImpl" level="${lcc.log.level.debug}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>

	<!--
	<logger name="com.chess.live.util.ThreadMonitor" level="${lcc.log.level.info}">
		<appender-ref ref="LOGCAT" />
		<appender-ref ref="FILE" />
	</logger>
	-->

	<!--<root level="VERBOSE">
		<appender-ref ref="FILE" />
		<appender-ref ref="LOGCAT" />
	</root>-->
</configuration>