<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.chess.clock.app"
	>

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="19" />

	<!-- Wake lock is required to maintain the clock timer alive if screen is off -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<!-- Activity that displays the players timers during a game -->
		<activity
			android:name="com.chess.clock.app.ClockTimersActivity"
			android:launchMode="singleTask"
			android:theme="@android:style/Theme.Holo.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Setup Activity to CRUD Time Controls -->
		<activity
			android:name="com.chess.clock.app.SettingsActivity"
			android:label="@string/title_activity_settings"></activity>

		<!-- Chess clock engine service -->
		<service android:name="com.chess.clock.service.ChessClockLocalService" />

	</application>

</manifest>
